{% extends "index.html" %}
{% block content %}
<h1 class="name">The Beach House</h1>
<h4 data-toggle="tooltip" title="3 out of 3: One of my favorites">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
</h4>
<hr>
<img class="imglist" src="{{ url_for('static', filename='img/beachhouse.jpg') }}">

<div class="description">
		<p class="iText">This cute little coffee shop is just next to the seaside at Portobello Beach. They offer amazing cakes and have a cozy atmosphere espacially when it's windy oustide (like nearly everyday in this rainy and windy country). The staff is super friendly. Unfortunately this is not a local insider tipp anymore and there are often long queues.</p>
	</div>
<div class="moreInfos">
	
	<table class="table table-striped table-inverse">
  <tbody>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></th>
      <td>In a lovely area just next to the beach</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span></th>
      <td>A bit more expensive</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></th>    
	  <td>Busy on the weekends, come with time</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>    
	  <td>9 am - 9:30 pm</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>    
	  <td>
		<address>
			57 Bath St<br>
			Portabello
			Edinburgh EH15 1HE
		</address>
	</td>
    </tr>
  </tbody>
</table>
	</div>
</div>
{% endblock %}}