{% extends "cafe.html" %}
{% block listCafe %}
<div class="filter"><p>Order results by </p></div>
<div class="filter"><select class="custom-select" onChange="window.location.href=this.value">
			<option value="/cafe"> - </option>
			<option value="/cafe_price" selected>Price(cheap first)</option>
			<option value="/cafe_rating">Rating</option>
</select>
</div>
<a href="/cafe/projectcoffee">
<h3>Project Coffee</h3>
<p data-toggle="tooltip" title="2 out of 3: a good one">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
<p/>
<div class="blur pic">
	<img class="imglist" src="{{ url_for('static', filename='img/projectcoffee.jpg') }}">
</div>
	</a>
<hr class= "listdevider">

<a href="/cafe/filamentcoffee">
<h3>Filament Coffee</h3>
<p data-toggle="tooltip" title="3 out of 3: One of my favorites">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
<p/>
<div class="blur pic">
	<img class="imglist" src="{{ url_for('static', filename='img/filamentcoffee.jpg') }}">
</div>
	</a>
<hr class= "listdevider">

<a href="/cafe/beachhouse">
<h3>The Beach House</h3>
<p data-toggle="tooltip" title="3 out of 3: One of my favorites">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<p/>
<div class="blur pic">
	<img class="imglist" src="{{ url_for('static', filename='img/beachhouse.jpg') }}">
</div>
	</a>
<hr class= "listdevider">

<a href="/cafe/salt">
<h3>Salt Cafe</h3>
<p data-toggle="tooltip" title="2 out of 3: a good one">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
<p/>
<div class="blur pic">
	<img class="imglist" src="{{ url_for('static', filename='img/salt.jpg') }}">
</div>
	</a>
<hr class= "listdevider">

{% endblock listCafe  %}