{% extends "index.html" %}
{% block content %}

<h1 class="lead">Opps. Sorry, we coudn't find your page.</h1>
<img class="imglist" src="{{ url_for('static', filename='img/cat.jpg') }}" >
<div><a href="/" class="btn btn-lg btn-secondary">Back to Start</a></div>

{% endblock %}}