{% extends "index.html" %}
{% block content %}
<h1 class="name">Filament Coffee</h1>
<h4 data-toggle="tooltip" title="1 out of 3: improvable but still good">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
</h4>
<hr>
<img class="imglist" src="{{ url_for('static', filename='img/filamentcoffee.jpg') }}">

<div class="description">
		<p class="iText">The shop near the city center is a bit small but we always found a space so far. I heard Filament has great coffee and bagels. The cake in the window also looks amazing but it's a bit pricy. At least they have free flavoured water that changes everyday and it's delicious! The smoothie options are various and for every taste.</p>
	</div>
<div class="moreInfos">
	
	<table class="table table-striped table-inverse">
  <tbody>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span></th>
      <td>Not far from the city center</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></th>    
	  <td>Tasty specialities like avocado smoothies</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>    
	  <td>7:30 am - 7 pm</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>    
	  <td>
		<address>
			38 Clerk St<br>
			Edinburgh EH8 9HX
		</address>
	</td>
    </tr>
  </tbody>
</table>
	</div>
</div>
{% endblock %}}