{% extends "index.html" %}
{% block content %}

<img src="{{ url_for('static', filename='img/logo.png') }}" class="logo">
<p class="lead">Discover the city the tasty way.</p>

<p class="lead">
	<a href="/cafe" class="btn btn-lg btn-secondary">Cafe</a>
	<a href="/restaurant" class="btn btn-lg btn-secondary">Restaurant</a>
</p>

   
  </div>
 
{% endblock %}}