<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Edinburgh teh tasty way">
    <meta name="author" content="Katharina Endsuleit">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <title>Edinburgh the tasty way</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <nav class="nav nav-masthead">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/cafe">Cafe</a>
                <a class="nav-link" href="/restaurant">Restaurants</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            {% block content %} {% endblock%}
          </div>

        </div>

      </div>
	
    </div>
	
	<!-- Bootstrap and JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>