{% extends "index.html" %}
{% block content %}
<h1 class="name">La Favorita</h1>
<h4 data-toggle="tooltip" title="3 out of 3: One of my favorites">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
</h4>
<hr>
<img class="imglist" src="{{ url_for('static', filename='img/favorita.jpg') }}">

<div class="description">
	<p class="iText">Authentic pizzeria serving wood-fired pizzas and pasta with gluten-free options. One place that finaly know how to make a good dough! Delivery available. There is one sit in location and more delivery only places. It smells amazing every time I walk by.</p>
</div>
<div class="moreInfos">	
	<table class="table table-striped table-inverse">
		<tbody>
			<tr>
			<th scope="icon"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></th>
				<td>Other locations for delivery only<br>(one directly in morningside just 5 minutes away)</td>
			</tr>
			<tr>
			<th scope="icon"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span></th>
		<td>A bit more epensive</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span></th>    
	  <td>Gluten free opions</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>    
	  <td>12 am - 11 pm</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>    
	  <td>
		<address>
			331-325 Leith Walk<br>
			Edinburgh EH6 8SA
		</address>
	</td>
    </tr>
  </tbody>
</table>
	</div>
{% endblock %}}