{% extends "index.html" %}
{% block content %}
<h1 class="name">Project Coffee</h1>
<h4 data-toggle="tooltip" title="two out of 3: a good one!">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
</h4>
<hr>
<img class="imglist" src="{{ url_for('static', filename='img/projectcoffee.jpg') }}">

<div class="description">
		<p class="iText">Project coffee is the place I would go to every day if I would be an author writing a new book. Actually there are always a lot of people with their Macs. But also for normal people like us students it's niice to hang around in one of the cozy couches or sit at the widow table and watch the people walking by outside on the street.</p>
	</div>
<div class="moreInfos">
	
	<table class="table table-striped table-inverse">
  <tbody>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></th>
      <td>Nice atmosphere, often working people on their Mac</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span></th>
      <td>A bit more expensive</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></th>    
	  <td>Looks cozy and inviting</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>    
	  <td>7:30 am - 7 pm</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>    
	  <td>
		<address>
			196 Bruntsfield Pl<br>
			Edinburgh EH10 4DF
		</address>
	</td>
    </tr>
  </tbody>
</table>
	</div>
</div>
{% endblock %}}