{% extends "restaurant.html" %}
{% block listRestaurant %}

<div class="filter"><p>Order results by </p></div>
<div class="filter"><select class="custom-select" onChange="window.location.href=this.value">
			<option value="/restaurant"> - </option>
			<option value="/restaurant_price">Price(cheap first)</option>
			<option value="/restaurant_rating" selected>Rating</option>
</select>
</div>

<a href="/restaurant/wildmanwood">
<h3>WildManWood</h3>
<p data-toggle="tooltip" title="3 out of 3: One of my favorites">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<p/>
<div class="blur pic">
	<img class="imglist" src="{{ url_for('static', filename='img/wildmanwood.jpg') }}">
</div>
	</a>
<hr class= "listdevider">

<a href="/restaurant/lafavorita">
<h3>La Favorita</h3>
<p data-toggle="tooltip" title="3 out of 3: One of my favorites">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<p/>
<div class="blur pic">
	<img class="imglist" src="{{ url_for('static', filename='img/favorita.jpg') }}">
</div>
	</a>
<hr class= "listdevider">


<a href="/restaurant/thaicaravan">
<h3>Ting Thai Caravan</h3>
<p data-toggle="tooltip" title="2 out of 3: a good one!">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
<p/>
<div class="blur pic">
	<img class="imglist" src="{{ url_for('static', filename='img/thaicaravan.jpg') }}">
</div>
	</a>
<hr class= "listdevider">

{% endblock listRestaurant %}
