{% extends "index.html" %}
{% block content %}
<h1 class="name">Salt Cafe</h1>
<h4 data-toggle="tooltip" title="two out of 3: a good one!">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
</h4>
<hr>
<img class="imglist" src="{{ url_for('static', filename='img/salt.jpg') }}">

<div class="description">
		<p class="iText">The atmosphere at salt is very cozy and nice, the staff is friendly and helpful and the food is great. Also the music is relaxing. They offer the best scone I have eaten so far in IK (the fruit scone! The secret is the cinnemon). Exept of the daily soup, which is nice too, the prices for the food are quite expensive. But you get selected and kind of fancy meals for your money. I could spend every day at salt!</p>
	</div>
<div class="moreInfos">
	
	<table class="table table-striped table-inverse">
  <tbody>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></th>
      <td>Nice atmosphere</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span></th>
      <td>A bit more expensive</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></th>    
	  <td>Lovely music</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>    
	  <td>8:30 am - 12 am</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>    
	  <td>
		<address>
			56 Morningside Rd<br>
			Edinburgh EH10 4BZ
		</address>
	</td>
    </tr>
  </tbody>
</table>
	</div>
</div>
{% endblock %}}