{% extends "index.html" %}
{% block content %}
<h1 class="name">Ting Thai Caravan</h1>
<h4 data-toggle="tooltip" title="2 out of 3: a good one!">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart-empty" ></span>
</h4>
<hr>
<img class="imglist" src="{{ url_for('static', filename='img/thaicaravan.jpg') }}">

<div class="description">
	<p class="iText">Really good thai food for a good price, the only annoying thing about it is that everyone else in Edinburgh seems to think that too, so around peak times there's almost always a queue outside. The Pad Thai nearly tastes as the original one in Bangkok and there is free water. </p>
</div>
<div class="moreInfos">	
	<table class="table table-striped table-inverse">
		<tbody>
			<tr>
			<th scope="icon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></th>
				<td>Authentic food</td>
			</tr>
			<tr>
			<th scope="icon"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></th>
		<td>Cheap meals available</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></th>    
	  <td>A bit louder</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>    
	  <td>11:30 am - 11 pm</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>    
	  <td>
		<address>
			Teviot Pl<br>
			Edinburgh EH1 2RA
		</address>
	</td>
    </tr>
  </tbody>
</table>
	</div>
{% endblock %}}