{% extends "index.html" %}
{% block content %}
<h1 class="name">WildManWood</h1>
<h4 data-toggle="tooltip" title="3 out of 3: One of my favorites">
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
<span class="glyphicon glyphicon-heart" ></span>
</h4>
<hr>
<img class="imglist" src="{{ url_for('static', filename='img/wildmanwood.jpg') }}">

<div class="description"> <p class="iText">"Finaly a place that knows how to make a good crust of the pizza. Maybe because of their Oven that can heat up to (which can heat up to 600 C). The atmosphere is modern and comparable with Thing Thai Caravan.</p>
	</div>
<div class="moreInfos">
	
	<table class="table table-striped table-inverse">
  <tbody>
    <tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></th>
      <td>Fancy toppings for the pizza</td>
    </tr>
    <tr>
      <th scope="icon"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span></th>
      <td>A bit more expensive</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>    
	  <td>8 am - 11 pm</td>
    </tr>
	<tr>
      <th scope="icon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></th>    
	  <td>
		<address>
			27-29 Marshall St<br>
			Edinburgh EH8 9BJ
		</address>
	</td>
    </tr>
  </tbody>
</table>
	</div>
</div>
{% endblock %}}