/* Links */
a,
a:focus,
a:hover {
  color: rgba(11,56,97,0.5);
  text-decoration: none;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:focus {
  color: rgba(10, 37, 77, 0.88);
  background-color: rgba(115, 115, 115, 0.16);
}
.btn-secondary:hover {
color: rgba(11,56,97,0.5);
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: white;
  color: #666666;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

/* Header */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: #666666;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
 color: rgba(11,56,97,0.5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #ccccc;
  border-bottom-color: rgba(11,56,97,0.5);
}
.filter{
display: inline-block;
color: #969696;
}
.filter select {
border-color: #e5e5e5;
}

@media (min-width: 48em) {
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

/*
 * Images
 */
 .imglist {
 width:100%;
 }
 .logo{
 width:80%;
 }
 
/*BLUR*/
.blur img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.blur img:hover {
  -webkit-filter: blur(1.5px);
}
 .listdevider {
 color: rgba(0,0,0,.5);
 width: 90%;
 }
 
/* Details Page */ 
 
.moreInfos , .description{
display:inline-block;
text-align: justify;
}
.iText{
margin-top:2em;
}

/* Affix and center */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .name{
margin-top: 2em;}
 .inner{
  background-color: rgba(255, 255, 255, 0.8);}
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 90%;
  }
   .imglist {
 width: 50%;
 }
 .description{
 margin-left:25%;
 margin-right:25%;
 margin-bottom: 2em;}
 
 .inner{
  background-color: rgba(255, 255, 255, 0.0);}

}
